---

import Bentoitem from "@/components/Bentoitem.astro";

import { getI18n } from '@/i18n';
const { currentLocale } = Astro;
const i18n = getI18n({currentLocale})

---

<section
    class={`
        w-full max-w-[1400px]
        grid grid-cols-10 auto-rows-[35rem] gap-4
        mx-auto p-20    
    `}
>
    <Bentoitem 
        class="col-span-10 md:col-span-4" 
        title={i18n.BENTOITEM_1_TITLE}
    >
        <div
            slot="image"
            class="
                absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-cover bg-center 
                bg-no-repeat bg-blue-950 -z-10
            "
            style="background-image: url('/mountain.webp')"
        ></div>
        <p slot="content" class="max-w-xl" set:html={i18n.BENTOITEM_1_CONTENT}></p>
    </Bentoitem>

    <Bentoitem 
        class="col-span-10 md:col-span-6" 
        title={i18n.BENTOITEM_2_TITLE} 
        subtitle={i18n.BENTOITEM_2_SUBTITLE}
    >
        <div
            slot="image"
            class="
                absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-cover bg-center 
                bg-no-repeat bg-blue-800 -z-10
            "
            style="background-image: url('/grefg.webp')"
        ></div>
        <p slot="content" class="max-w-xl" set:html={i18n.BENTOITEM_2_CONTENT}></p>
    </Bentoitem>

    <Bentoitem 
        class="col-span-10 md:col-span-6" 
        title={i18n.BENTOITEM_3_TITLE}
        subtitle={i18n.BENTOITEM_3_SUBTITLE}
    >
        <div
            slot="image"
            class="
                absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-cover bg-center 
                bg-no-repeat bg-blue-900 -z-10
            "
            style="background-image: url('/pistas.webp')"
        ></div>
        <p slot="content" class="max-w-xl" set:html={i18n.BENTOITEM_3_CONTENT}></p>
    </Bentoitem>

    <Bentoitem 
        class="col-span-10 md:col-span-4" 
        title={i18n.BENTOITEM_4_TITLE}
    >
        <div
            slot="image"
            class="
                absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-cover bg-center 
                bg-no-repeat bg-blue-950 -z-10
            "
            style="background-image: url('/laptop.webp')"
        ></div>
        <p slot="content" class="max-w-xl" set:html={i18n.BENTOITEM_4_CONTENT}></p>
    </Bentoitem>
</section>